<div>
    <h2>Sign in</h2>
<form (ngSubmit)="login()" #loginForm="ngForm">
    <label for="username">Username :</label>
    <input type="text" id="username" name="username" [(ngModel)]="userLoginDto.username" required>
  
    <label for="password">Password :</label>
    <input type="password" id="password" name="password" [(ngModel)]="userLoginDto.password" required>
  
    <button type="submit">Sign in</button>
    <p class="mt-3">
        Not registered yet? 
        <a  class="registration-link" routerLink="/register">Register here</a>
      </p>
      <p class="mt-2">
        <a class="forgot-password-link" routerLink="/forgot-password">Forgot Password?</a>
      </p>
  </form>
  
</div>

  